<div class="col-md-6 offset-md-3">
    <h3> Create Flight </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Flight Name</label>
            <input type="text" class ="form-control" id = "flightName"
                [(ngModel)] = "flight.flightName" name = "flightName">
        </div>
    
        <div class="form-group">
            <label> Flight Code</label>
            <input type="text" class ="form-control" id = "flightCode"
                [(ngModel)] = "flight.flightCode" name = "flightCode">
        </div>
<div class="form-group">
            <label> Source </label>
            <input type="text" class ="form-control" id = "source"
                [(ngModel)] = "flight.source" name = "source">
        </div>
		
		 <div class="form-group">
            <label> Destination </label>
            <input type="text" class ="form-control" id = "destination"
                [(ngModel)] = "flight.destination" name = "destination">
        </div>
		
		 <div class="form-group">
            <label> Rating </label>
            <input type="text" class ="form-control" id = "flightRating"
                [(ngModel)] = "flight.flightRating" name = "flightRating">
        </div>
		
		 <div class="form-group">
            <label> Fare </label>
            <input type="text" class ="form-control" id = "ticketCost"
                [(ngModel)] = "flight.ticketCost" name = "ticketCost">
        </div>

        <div class="form-group">
            <label> Capacity </label>
            <input type="text" class ="form-control" id = "capacity"
                [(ngModel)] = "flight.capacity" name = "capacity">
        </div>
        <div class="form-check">
            <label> Type Of flight:</label><br>
               <input class="form-check-input" type="radio" name = "isCommercial"
                   [(ngModel)]="flight.isCommercial" value="true" />
               <label class="form-check-label">Commercial Flight</label><br>
               <input class="form-check-input" type="radio" name = "isCommercial"
                   [(ngModel)]="flight.isCommercial" value="false"/>
               <label class="form-check-label">Non Commercial Flight</label>
           </div>
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div>