<h2> Flight List </h2>
<div class="list row">

<div class="col-md-8">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search by flight name"
        [(ngModel)]="flightName" />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary" type="button"(click)="searchByFlightName()">
        <i class="bi-search"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-outline-secondary" type="button" (click)="getCommercialFlights()">Commercial Flights
</button>

<button class="btn btn-outline-secondary" type="button" (click)="getNonCommercialFlights()">Non Commercial Flights </button>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Flight Name </th>
            <th> Flight Code </th>
            <th> Source </th>
            <th> Destination </th>
            <th> Capacity </th>
            <th> Ticket Cost </th>
            <th> Ratings </th>
            <th> Actions </th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let flight of flights | paginate: { itemsPerPage: count, currentPage: p }" >
            <td> {{ flight.flightName }} </td>
            <td> {{ flight.flightCode }} </td>
            <td> {{ flight.source }} </td>
            <td> {{ flight.destination }} </td>
            <td> {{ flight.capacity }} </td>
            <td> {{ flight.ticketCost }} </td>
            <td> {{ flight.flightRating }} </td>
            <td>
               <button (click) = "updateFlight(flight.recordNumber)" class = "btn btn-info"> Update </button>
                <button (click) = "deleteFlight(flight.recordNumber)" class = "btn btn-danger" style="margin-left: 10px"> Delete </button>
                <button (click) = "viewflight(flight.recordNumber)" class = "btn btn-info" style="margin-left: 10px"> View </button> 
            </td>
        </tr>
        <tr *ngIf="flights.length !== 0">
          <button class="m-3 btn btn-sm btn-danger" (click)="removeAllFlights()">
                Remove All
              </button>
        </tr>
    </tbody>
</table>

<div class="text-right">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

  
<!-- <div class="input-group mb-3">
  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
  </ul>
  <input type="text" class="form-control" aria-label="Text input with dropdown button">
</div> -->