<h3> View Flight Details </h3>
<div>
    <div>
        <label> <b> Flight Code: </b></label> {{particularFlight.flightCode}}
    </div>
    <div>
        <label> <b> Source: </b></label> {{particularFlight.source}}
    </div>
    <div>
        <label> <b> Destination: </b></label> {{particularFlight.destination}}

    </div>
    <div>
        <label> <b> Ticket Cost: </b></label> {{particularFlight.ticketCost}}
    </div>
    <div>
    <label> <b> Rating: </b></label> {{particularFlight.flightRating}}
    </div>

    <div>
    <label> <b> Flight Name: </b></label> {{particularFlight.flightName}}
    </div>

    <div>
    <label> <b> isCommercial: </b></label> {{particularFlight.isCommercial}}
    </div>
</div>
